name: Build and Test pull request

on:
  pull_request:
    branches: ["master"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.12.1
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
          cache: "npm"

      - run: npm install
      - run: npm run build
      - run: npm run test
